
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Georgia", 'Times New Roman', serif;
  background-color: #f5f5f5; 
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  
}

h1 {
  text-align: center;
  color: #333;
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}



form {
  background-color: #ffffff;
  border: 2px solid #c0c0c0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 0 auto; 
  max-width: 600px; 
  margin-top: 20px; 
  margin-bottom: 90px;
}


label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

input[type="date"],
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #c0c0c0;
  border-radius: 5px;
  font-size: 16px;
}
select[name="description"],
select[name="category"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ad8181;
  border-radius: 3px;
  background-color: #fff; 
  font-size: 16px; 
  color: #333; 
}
button[type="submit"] {
  width: 100%;
  padding: 15px;
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; 
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #454a4f;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #e0e0e0;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border: 2px solid #c0c0c0;
  border-radius: 5px;
  font-size: 16px;
}

h2{
  text-align: center;
  font-size: xx-large;
  padding: 10px;
  text-decoration: solid;
  text-decoration: underline;
}
li{
  text-align: center;
  
}
